{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/NBA_Stats/main_style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href= "https://i.imgur.com/06eb7UD.jpg" type="image/x-icon"/>	
</head>

<div class="navbar" style="font-weight: bold">
  <a href="/StatFreaks/"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/StatFreaks/{{Random_Player}}"><i class="fa fa-fw fa-search"></i> Random Player</a> 
  <a href="https://github.com/NavidRayhan/StatFreaks"><i class="fa fa-fw fa-github"></i> Source Code</a> 
</div>
<div class="error_text">The name <span style="color: black; text-shadow: 0px 0px">{{player}}</span> was not found</div>

